<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">

	<!-- DB Connection을 사용하기 위한 Listener -->
	<listener>
		<listener-class>jdbc.DBCPInitListener</listener-class>
	</listener>
	
	<!-- 어플리케이션 컨텍스트에서 사용할 value / 공통적으로 접근이 가능함 -->
	<context-param>
		<param-name>poolConfigFile</param-name>
		<param-value>/WEB-INF/dbConfig/db.properties</param-value>
	</context-param>
	
	<!-- 서블릿 등록 및 맵핑 -->
	<servlet>
		<servlet-name>controller</servlet-name>	
		<servlet-class>common.controller.Controller</servlet-class>
		<init-param>
			<param-name>handlerConfigFile</param-name>
			<param-value>/WEB-INF/handlerConfig/commandHandler.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>controller</servlet-name>
		<url-pattern>/login</url-pattern>
		<url-pattern>/logout</url-pattern>
		<url-pattern>/join</url-pattern>
		<url-pattern>/movie_list</url-pattern>
		<url-pattern>/movie</url-pattern>
		<url-pattern>/admin_movie_write</url-pattern>
		<url-pattern>/admin_movie_list</url-pattern>
		<url-pattern>/admin_movie</url-pattern>
		<url-pattern>/admin_movie_modify</url-pattern>
		<url-pattern>/admin_movie_delete</url-pattern>
		<url-pattern>/member_account_modify</url-pattern>
		<url-pattern>/member_account_delete</url-pattern>
		<url-pattern>/like_write</url-pattern>
		<url-pattern>/member_review</url-pattern>
		<url-pattern>/member_like</url-pattern>
	</servlet-mapping>
	
	<!-- CharacterEncodingFilter 등록 및 맵핑` -->
	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>filter.CharacterEncodingFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- LoginCheckFilter 등록 및 맵핑 -->
	<filter>
		<filter-name>loginCheckFilter</filter-name>
		<filter-class>filter.LoginCheckFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>loginCheckFilter</filter-name>
		<url-pattern>/movie_list</url-pattern>
		<url-pattern>/movie</url-pattern>
		<url-pattern>/member_account_modify</url-pattern>
		<url-pattern>/member_account_delete</url-pattern>
		<url-pattern>/admin_movie_write</url-pattern>
		<url-pattern>/admin_movie_list</url-pattern>
		<url-pattern>/admin_movie</url-pattern>
		<url-pattern>/admin_movie_modify</url-pattern>
		<url-pattern>/admin_movie_delete</url-pattern>
		<url-pattern>/member_review</url-pattern>
	</filter-mapping>
	
	<!-- Session 설정 -->
	<session-config>
		<session-timeout>60</session-timeout>	<!-- 분 단위 -->
	</session-config>

</web-app>